<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Auth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash#{name}" %>
      <% end %>
    <%= yield %>
    <!--div id="user_nav">
      <% if current_user %>
        Logged in as <%= current_user.email %>
        <%= link_to "Log out", log_out_path %>
      <% else %>
        <%= link_to "Sign up", sign_up_path %> or 
        <%= link_to "Log in", log_in_path %>
      <% end %>
    </div-->
  </div>
</body>
</html>
